<a href="https://colab.research.google.com/github/NeerajDana/Machine-Learning-Series/blob/master/python-basics/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Variables**

In [4]:
X=1
print(X)

1

## So lets say ram is having a teastore selling tea for 10rs and milk for 20rs .in a day ram sold 20 teas and 40 milks what is the amount he got

In [8]:

TeaPrice = 10
milkPrice = 20


TotalAmount = (20*TeaPrice) + (40* milkPrice)
print(TotalAmount)
print(hex(id(TotalAmount)))

1000
0x7fd22c718d10