<a href="https://colab.research.google.com/github/NeerajDana/Machine-Learning-Series/blob/master/python-basics/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Variables**

In [ ]:
X=1
print(X)

1

## So lets say ram is having a teastore selling tea for 10rs and milk for 20rs .in a day ram sold 20 teas and 40 milks what is the amount he got

In [ ]:

TeaPrice = 10
milkPrice = 20


TotalAmount = (20*TeaPrice) + (40* milkPrice)
print(TotalAmount)
print(hex(id(TotalAmount)))
print(type(TotalAmount))

1000
0x7fd22c718c70
<class 'int'>

# Datatypes

### Numbers

In [ ]:
x=10
print(type(x))

x=10.50
print(type(x))

x=1j
print(type(x))

<class 'int'>
<class 'float'>
<class 'complex'>

### Boolean

In [ ]:
x=True
print(type(x))

x=False
print(type(x))

<class 'bool'>
<class 'bool'>

### Strings

In [ ]:
name = "Neeraj Dana"
gender = "M"
ACCNO = "12345XXX789"

print(type(name))

<class 'str'>

# Collection Datatypes

### List

In [10]:
products = ["Tea","Coffee","Milk"]

# now products is the list and we can access the item in the list by its //index(the position where element is stored)
# Tea is stored at 0 index 
tea = products[0]

for item in products:
	print(item)
print(type(tea))
print(type(products))

Tea
Coffee
Milk
<class 'str'>
<class 'list'>

### Dictionary

In [14]:

tea = {"Name":"Tea","Price":10}
coffee = {"Name":"Cofee","Price":15}
milk = {"Name":"Milk","Price":20}


print(tea)
print(type(tea))
print("-------------------------------------")

# you can iterate through the items in Dict as 
for key in tea:
    print(key)
    itemProp = tea[key]
    print(itemProp)
    print(type(itemProp))
    print("-------------------------------------")

{'Name': 'Tea', 'Price': 10}
<class 'dict'>
-------------------------------------
Name
Tea
<class 'str'>
-------------------------------------
Price
10
<class 'int'>
-------------------------------------

### Sets

In [16]:
print("----------------Product list with duplicate elements---------------------")
productsList = ["Tea","Coffee","Milk","Tea"]
print(productsList)
print(type(productsList))

print("-------------------------------------")


print("----------------Product Set with duplicate elements---------------------")
productsSet = {"Tea","Coffee","Milk","Tea"}
print(productsSet)
print(type(productsSet))

print("-------------------------------------")

----------------Product list with duplicate elements---------------------
['Tea', 'Coffee', 'Milk', 'Tea']
<class 'list'>
-------------------------------------
----------------Product Set with duplicate elements---------------------
{'Coffee', 'Tea', 'Milk'}
<class 'set'>
-------------------------------------